<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.konghon.backpackapp" >

    <!-- Permission for using NFC hardware -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Forcing device to have NFC hardware -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- Premissions for http-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/packcheck144144"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.konghon.backpackapp.MainActivityListOverview"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.konghon.backpackapp.CreateNewList"
            android:label="@string/title_activity_create_new_list" >
        </activity>
        <activity
            android:name="com.example.konghon.backpackapp.CreateNewItem"
            android:label="@string/title_activity_create_new_item" >
        </activity>
        <activity
            android:name="com.example.konghon.backpackapp.CheckList"
            android:label="@string/title_activity_check_list" >
        </activity>
        <activity
            android:name="com.example.konghon.backpackapp.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
